In [1]:
import datetime
import pandas as pd

In [2]:
login = pd.read_csv('results/task1_1_1.csv')
study = pd.read_csv('results/task1_1_2.csv')
users = pd.read_csv('results/task1_2.csv')

In [3]:
users['recently_logged'] = pd.to_datetime(users.recently_logged)
users['datedelta'] = users.recently_logged.apply(lambda x:datetime.datetime(2020, 6, 18) - x)
users['datedelta'] = users.datedelta.apply(lambda x:x.days + 1)
users['islost'] = users.datedelta.apply(lambda x:1 if x > 90 else 0)
users

,user_id,register_time,recently_logged,number_of_classes_join,number_of_classes_out,learn_time,school,datedelta,islost
0,用户44251,2020/6/18 9:49,2020-06-18 09:49:00,0,0,41.25,NaN,0,0
1,用户44250,2020/6/18 9:47,2020-06-18 09:48:00,0,0,0,NaN,0,0
2,用户44249,2020/6/18 9:43,2020-06-18 09:43:00,0,0,16.22,NaN,0,0
3,用户44248,2020/6/18 9:09,2020-06-18 09:09:00,0,0,0,NaN,0,0
4,用户44247,2020/6/18 7:41,2020-06-18 08:15:00,0,0,1.8,NaN,0,0
...,...,...,...,...,...,...,...,...,...
43903,用户6,2018/9/11 16:13,2018-09-11 16:14:00,0,0,0,NaN,646,1
43904,用户5,2018/9/10 15:48,2020-06-15 17:13:00,9,5,"2,116.15",NaN,3,0
43905,用户4,2018/9/10 14:15,2020-06-05 09:50:00,4,0,341.2,NaN,13,0
43906,用户3,2018/9/4 13:32,2020-06-18 09:18:00,2,1,370.35,NaN,0,0
43907,用户1,2018/9/3 10:00,2018-11-04 11:20:00,0,0,0,NaN,592,1

In [4]:
loss = users['islost'].sum()/users.shape[0]
loss

0.5840621299079894

In [5]:
loss = users[users.number_of_classes_join != 0]['islost'].sum()/users[users.number_of_classes_join != 0].shape[0]
loss

0.20956338712288844

In [6]:
loss = users[users.number_of_classes_join == 0]['islost'].sum()/users[users.number_of_classes_join == 0].shape[0]
loss

0.8574805941920486